<div class="answer-container">
  <h1>Stupid Coaching</h1>
  <div class="text-box">
    <h3><%= params[:question] %></h3>
    <p class="from">- You</p>
  </div>

  <div class="text-box">
    <h3><%= @answer %></h3>
    <p class="from">- Your coach</p>
  </div>

  <%= link_to "Ask a new question", "/ask" %>
</div>

